/*---GENERAL---*/
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*---GRID LAYOUT STYLES---*/
.grid-container {
  display: grid;
  grid-template-areas:
    "nav nav"
    "profile-picture bio"
    "experience-title experience-title"
    "left right"
    "footer footer";
  grid-template-columns: auto;
}

.grid-container > div {
  padding: 10px;
  font-size: 16px;
}

.nav-container {
    grid-area: nav;
    width: 100%;
}
.profile-picture {
    grid-area: profile-picture;
}
.bio {
    grid-area: bio;
}
.experience-title {
    grid-area: experience-title;
}

.left-job {
    grid-column: 1/1;
}

.right-job {
    grid-column: 2/2;
}

.footer {
    grid-column: 1 / span 2;
}
/*---IMAGE & COLORS---*/
.profile-picture img {
    height: 35vh;
}

.hero {
    background-color: #22577a;
    color: aliceblue;
}

/*-footer-*/

.footer {
    background-color: #22577a;
}
.footer p {
    color: aliceblue;
    margin: 0 auto;
}
.footer img {
    height: 30px;
    margin-left: 30px;
}

/*-nav-*/

.nav {
    text-align: center;
    
}