/*---GENERAL---*/

html {
  /* min-height on body doesn't work unless it's parent (html) has an explicit height */
  height: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*---GRID LAYOUT STYLES---*/

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "nav nav"
    "title title"
    "cards cards"
    "footer-name footer-links";
  grid-template-columns: 4fr 2fr;
}

.grid-container > div {
  padding: 10px;
  font-size: 16px;
}

.grid-container > nav.nav-container {
  grid-area: nav;
  width: 100%;
}

.grid-container > div#title {
  grid-area: title;
  width: 100%;
}

.grid-container > div#cards {
  grid-area: cards;
  width: 100%;
}

.grid-container > div.footer-name {
  grid-area: footer-name;
  grid-column: 1/2;
}

.grid-container > div.footer-link {
  grid-area: footer-links;
  grid-column: 2/6;
}

/*---TITLE---*/

#title {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 1%;
}

#title > h1,
h3,
h4 {
  padding-top: 10px;
}

#title > h4 {
  font-weight: 100;
  font-size: larger;
}

#title > h3 {
  font-size: larger;
}

/*---CARDS---*/

#cards {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 1%;
}

#cards th,
td {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

/*---NAV---*/

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.nav {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  font-size: larger;
  color: #22577a;
  font-weight: 600;
}

.nav-container a {
  text-decoration: none;
  border-bottom: 5px solid #ffffff;
  font-weight: 600;
  font-size: larger;
}

.nav-container a:hover {
  color: #036666;
  font-weight: 600;
  font-size: larger;
  border-bottom: 5px solid #22577a;
  transition: 0.5s;
}

.active a {
  border-bottom: 5px solid #22577a;
}

/*---FOOTER---*/

.footer-name,
.footer-link {
  background-color: #22577a;
  color: aliceblue;
}

.footer-name > p {
  padding: 5px;
  text-align: center;
  justify-items: center;
  align-items: center; /* Centers content vertically */
}

.footer-link img {
  height: 30px;
  padding-right: 30px;
  text-align: center;
  justify-items: center;
  align-items: center; /* Centers content vertically */
}
