/*---GENERAL---*/

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*---GRID LAYOUT STYLES---*/

.grid-container {
  display: grid;
  grid-template-areas:
    "nav nav"
    "profile-picture bio"
    "experience-title experience-title"
    "left right"
    "footer-name footer-links";
  grid-template-columns: auto;
}

.grid-container > div {
  padding: 10px;
  font-size: 16px;
}

.nav-container {
  grid-area: nav;
  width: 100%;
}

.profile-picture {
  grid-area: profile-picture;
}

.bio {
  grid-area: bio;
}

.experience-title {
  grid-area: experience-title;
}

.left-job {
  grid-column: 1/1;
}

.right-job {
  grid-column: 2/2;
}

.footer-name {
  grid-column: 1/1;
}

.footer-link {
  grid-column: 2/2;
}
/*---IMAGE & COLORS---*/
.profile-picture img {
  height: 35vh;
}

.hero {
  background-color: #22577a;
  color: aliceblue;
}

/*---FOOTER---*/

.footer-name,
.footer-link {
  background-color: #22577a;
  color: aliceblue;
  text-align: center;
}

.footer-name > p {
  padding: 5px;
}

.footer-link img {
  height: 30px;
  padding-right: 30px;
}

/*---NAV---*/

.nav {
  text-align: center;
}
