/*General*/

body {
  margin: 0;
  background-color: #f8f9fa;
  font-family: "Fira Sans", sans-serif;
}

html {
  font-size: 100%;
}

strong,
b {
  color: #354f52;
}

/*Hero*/
.hero-container {
  display: flex;
  align-items: center;     /* Centers items vertically */
  justify-content: center;  /* Centers the group horizontally */
  gap: 4rem;               /* Adds space between the name and the intro */
  
  background-color: #e8f0f0;
  background-image: url("../assets/images/00_Hero.png");
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
}

.hero-text {
  text-align: right; 
}

.hero-text h4 {
  font-weight: 300;
}

.intro {
  flex: 0 1 40%;          /* Limits width so it doesn't stretch across the whole screen */
  text-align: left;
  border-left: 2px solid #354f52; /* Optional: adds a nice visual separator */
  padding-left: 1.5rem;
}

/*Navigation bar*/
header {
  width: 100%;
  position: fixed;
  z-index: 1;
  color: #f8f9fa;
  background: linear-gradient(to bottom, #e8f0f0, transparent);
  /* background-color: #e8f0f0; */
}

nav {
  display: flex;
  justify-content: right;
}

.nav-child {
  display: flex;
  align-items: center;
}

.nav-child a {
  margin: 1rem;
  text-decoration: none;
  color: #354f52;
  font-weight: 700;
  padding: 1px;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;
}

.nav-child a:hover {
  border-bottom-color: #354f52;
  transition: 0.9ms;
}

/*Responsive controls*/
/*---Phones---*/
@media (max-width: 600px) {
  .hero-container {
    background-image: none;
  }
  .hero-text {
    top: 30%;
    left: 50%;
  }
}
/*---Tablets---*/
@media (min-width: 768px) {
  .hero-container {
    background-image: url("../assets/images/00_Hero.png");
  }
}
